<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:rim="http://www.blackberry.com/ns/widgets"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-app-plugin"
      version="1.0.0">

    <name>App Plugin</name>
    <description>App Plugin</description>
    <license>Apache 2.0</license>
    <keywords></keywords>
   
   <!-- ios -->
    <platform name="ios">
      <dependency id="cordova-plugin-keyboard" url="https://github.com/edvenkat/cordova-plugin-keyboard-master1">
    </platform>

    <!-- android -->
    <platform name="android">
      <dependency id="cordova-plugin-ionic-keyboard" url="https://github.com/ionic-team/cordova-plugin-ionic-keyboard"> 
		  <dependency id="cordova-plugin-listpicker" url="https://github.com/roberthovhannisyan/PhoneGap-Plugin-ListPicker">
		  <dependency id="phonegap-plugin-mobile-accessibility" url="https://github.com/phonegap/phonegap-mobile-accessibility">
		  <dependency id="fr._46cl.focus" url="https://github.com/46cl/cordova-android-focus-plugin">       
    </platform>


</plugin>
